ai2thor==4.2.0
aws-requests-auth==0.4.3
blinker==1.6.2
botocore==1.34.82
brotli==1.0.9
click==8.1.7
Flask==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
idna==3.7
networkx==3.3
numpy==1.26.4
opencv-python==4.8.1.78
pillow==10.4.0
progressbar2==4.2.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-utils==3.3.3
python-xlib==0.33
PyYAML==6.0.1
requests==2.32.3
six==1.16.0
sympy==1.12
torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2
typing-extensions==4.11.0
urllib3==2.2.2
Werkzeug==3.0.3
